<main role="main" class="container">
  <p class="text-orange-700" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="text-red-700" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= render @view_module, @view_template, assigns %>
</main>

