<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Nickdotcom" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="/" class="phx-logo">
          <h1>Nicks Yeager</h1>
        </a>
      </section>
      <nav role="navigation">
        <ul class="navigation-links">
          <%= if @current_user do %>
            <li>Signed in as: <%= @current_user.email %></li>
            <li><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <li><%= link "Edit account", to: Routes.pow_registration_path(@conn, :edit) %></li>
          <% else %>
            <li><%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %></li>
            <li><%= link "Sign up", to: Routes.pow_registration_path(@conn, :new) %></li>
            <li><%= link "Posts", to: "/posts" %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
