.thumb-selected {
    border: 4px solid #0069d9;
}

.thumb-unselected {
    opacity: 0.5;
}

header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-links li {
    display: inline;
}