<h2 class="text-gray-900 text-lg mb-1 font-medium title-font">New Post</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
