
  <div>
    <h3><%= @post.title %></h3>
  </div>
  <div>
    <%= raw Earmark.as_html!(@post.body) %>
  </div>
  <div>
    <strong>Published:</strong>
    <%= @post.inserted_at %>
  </div>
  <div>
    <strong>Updated:</strong>
    <%= @post.updated_at %>
  </div>
  <div>
    <strong>Author:</strong>
    <%= @post.user.email %>
  </div>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
